/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$azure-palette,
      ),
      density: (
        scale: 0,
      ),
      typography: Roboto,
    ),
    $overrides: ("background": #212121)
  );
}

:root {
  @include mat.tooltip-overrides(
    (
      container-color: black,
      supporting-text-color: white,
      supporting-text-size: 1rem,
    )
  );

  @include mat.menu-overrides(
    (
      container-color: #3a3a3a,
    )
  );
}

html,
body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
  background-color: #212121;
  color: #ffffff;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
